<!-- Header -->
<style>
    #navbar {
      padding: 10px 20px;
      width:100%;
    }
    #navbar nav a{
      color: white;
      margin: 5px;
      padding: 10px;
      over-flow: hidden;
      text-align:left;
    }
    @media (max-width: 980px) {
      /* CSS that should be displayed if width is equal to or less than 980px goes here */
        #navbar {
          padding: 10px 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        #navbar nav a{
          color: white;
          margin: 5px;
          padding: 10px;
          over-flow: hidden;
        }
    }
    @media (max-width: 480px) {
      /* CSS that should be displayed if width is equal to or less than 980px goes here */
        #navbar {
          padding: 10px 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        #navbar nav a{
          color: white;
          margin: 1px;
          padding: 2px;
          font-size: 1em;

          over-flow: hidden;
        }
    }
</style>
<div id="navbar" class="nothome">
  <nav>
    <a href='/' >HOME</a>
    <!-- <a href='#'>BLOG</a> -->
  </nav>
</div>